#calculator {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 600px;
    background-color: #001f4a;
    margin: 0px auto;
    padding: 20px;
}

.output-container, .input-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    background-color: #767c85;
    margin-bottom: 20px;
}

.output-container {
    height: 200px;
}

.input-container {
    height: 100px;
}

#input, #lastInput, #result {
    width: 100%;
    font-size: 48px;
    text-align: right;
    margin: 0px;
    padding-right: 25px;

}

.button-container {
    display: flex;
    gap: 10px;
    height: 400px;
    width: 600px;
}

.numbers, .operators{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 50%;
    height: 100%;
}

button {
    border-radius: 10px;
    font-size: 48px;
    font-weight: bold;
    background-color: whitesmoke;
}

#equal {
    grid-column: 2/4;
}

#zero {
    grid-column: 2/4;
}

button sup {
    font-size: 24px;
}